In [70]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3,4,5]})

- 문제: a가 2보다 작으면 '2'미만, 4보다 작으면 '4미만', 4보다 크면 '4이상'이 저장된 b 칼럼을 추가하시오.

In [71]:
df

   a
0  1
1  2
2  3
3  4
4  5

In [72]:
df['b'] = 0

In [73]:
df

   a  b
0  1  0
1  2  0
2  3  0
3  4  0
4  5  0

In [74]:
# a라는 변수에 첫번째 조건을 만족하는 데이터 프레임
a = df[df['a'] < 2]

In [75]:
a

   a  b
0  1  0

In [76]:
df['b'][a.index]='2미만'

In [77]:
df

   a    b
0  1  2미만
1  2    0
2  3    0
3  4    0
4  5    0

In [78]:
a = df[(df['a'] >= 2)& (df['a'] < 4)]

In [79]:
a

   a  b
1  2  0
2  3  0

In [80]:
# 데이터프레임 일부 복사하고 값을 수정하면 발생하는 에러
df['b'][a.index] = '4미만'

In [81]:
# 해당 코드입력하여 경고문 없앨수 있음
pd.set_option('mode.chained_assignment', None)

In [82]:
df

   a    b
0  1  2미만
1  2  4미만
2  3  4미만
3  4    0
4  5    0

In [83]:
a = df[df['a'] >= 4]

In [84]:
a

   a  b
3  4  0
4  5  0

In [85]:
# df의 b중에 0번째 값을 4이상이라고 바꿔 주어라.
df['b'][a.index] = '4이상'

In [86]:
df

   a    b
0  1  2미만
1  2  4미만
2  3  4미만
3  4  4이상
4  5  4이상

- 함수 + apply를 이용한 해결

In [87]:
# 사용자 정의 함수
def case_function(x):
  if x < 2:
    return '2 미만'
  elif x < 4:
    return '4 미만'
  else:
    return '4 이상'

In [88]:
# df['a']의 위에서 적용한 함수를 적용하여라
df['c'] = df['a'].apply(case_function)

In [89]:
df

   a    b     c
0  1  2미만  2 미만
1  2  4미만  4 미만
2  3  4미만  4 미만
3  4  4이상  4 이상
4  5  4이상  4 이상

- 문제: a가 1이면 'one', 2이면 'two', 3이면 'three', 4이면 'four', 5이면 'five'를 출력하는 칼럼d를 만드시오.

In [90]:
df

   a    b     c
0  1  2미만  2 미만
1  2  4미만  4 미만
2  3  4미만  4 미만
3  4  4이상  4 이상
4  5  4이상  4 이상

In [91]:
def case_function2(x):
  if x == 1:
    return 'one'
  elif x == 2:
    return 'two'
  elif x == 3:
    return 'three'
  elif x == 4:
    return 'four'
  else: # else 뒤에 조건 X 
    return 'five'

In [92]:
df['d'] = df['a'].apply(case_function2)

In [93]:
df

   a    b     c      d
0  1  2미만  2 미만    one
1  2  4미만  4 미만    two
2  3  4미만  4 미만  three
3  4  4이상  4 이상   four
4  5  4이상  4 이상   five

- map를 이용한 해결 방법

In [94]:
a = { 1:'one', 2:'two', 3:'three', 4:'four', 5:'five'}

In [95]:
df['e'] = df['a'].map(a)

In [96]:
df

   a    b     c      d      e
0  1  2미만  2 미만    one    one
1  2  4미만  4 미만    two    two
2  3  4미만  4 미만  three  three
3  4  4이상  4 이상   four   four
4  5  4이상  4 이상   five   five