# - 좌우 결합

In [1]:
import pandas as pd

df1 = pd.DataFrame({'A':[1,2,3], 'B':[11,12,13], 'C':[21,22,23]})
df2 = pd.DataFrame({'A': [4,5,6], 'B':[14,15,16], 'C':[24,25,26]})

In [2]:
df1

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23

In [3]:
df2

   A   B   C
0  4  14  24
1  5  15  25
2  6  16  26

In [4]:
# 옵션 열방향으로 결합
pd.concat([df1,df2], axis=1)

   A   B   C  A   B   C
0  1  11  21  4  14  24
1  2  12  22  5  15  25
2  3  13  23  6  16  26

- 다음 두 데이터 프레임을 결합하시오.

In [5]:
df1 = pd.DataFrame({'ID':[1,2,3], '성별':['F','M','F'], '나이':[20,30,40]})
df2 = pd.DataFrame({'ID':[1,2,3], '키':[160.5, 170.3, 180.1], '몸무게':[45.1, 50.3, 72.1]})

In [6]:
df1

   ID 성별  나이
0   1  F  20
1   2  M  30
2   3  F  40

In [7]:
df2

   ID      키   몸무게
0   1  160.5  45.1
1   2  170.3  50.3
2   3  180.1  72.1

In [8]:
pd.concat([df1, df2], axis = 1)

   ID 성별  나이  ID      키   몸무게
0   1  F  20   1  160.5  45.1
1   2  M  30   2  170.3  50.3
2   3  F  40   3  180.1  72.1

- 다음 두 데이터 프레임을 ID를 기준으로 결합하시오.

In [9]:
df1 = pd.DataFrame({'ID':[1,2,3,4,5], '성별':['F','M','F','M','F'], '나이':[20,30,40,25,42]})
df2 = pd.DataFrame({'ID':[3,4,5,6,7], '키':[160.5, 170.3, 180.1, 142.3, 153.7], '몸무게':[45.1, 50.3, 72.1, 38, 42]})

In [13]:
df1

   ID 성별  나이
0   1  F  20
1   2  M  30
2   3  F  40
3   4  M  25
4   5  F  42

In [15]:
df2

   ID      키   몸무게
0   3  160.5  45.1
1   4  170.3  50.3
2   5  180.1  72.1
3   6  142.3  38.0
4   7  153.7  42.0

In [16]:
# 1대1 매칭 안됨
pd.concat([df1, df2], axis =1)

   ID 성별  나이  ID      키   몸무게
0   1  F  20   3  160.5  45.1
1   2  M  30   4  170.3  50.3
2   3  F  40   5  180.1  72.1
3   4  M  25   6  142.3  38.0
4   5  F  42   7  153.7  42.0

In [17]:
# Left Join / inner Join

df1 = pd.DataFrame({'ID':[1,2,3,4,5], '성별':['F','M','F','M','F'], '나이':[20,30,40,25,42]})
df2 = pd.DataFrame({'ID':[3,4,5,6,7], '키':[160.5, 170.3, 180.1, 142.3, 153.7], '몸무게':[45.1, 50.3, 72.1, 38, 42]})

In [18]:
df1

   ID 성별  나이
0   1  F  20
1   2  M  30
2   3  F  40
3   4  M  25
4   5  F  42

In [19]:
df2

   ID      키   몸무게
0   3  160.5  45.1
1   4  170.3  50.3
2   5  180.1  72.1
3   6  142.3  38.0
4   7  153.7  42.0

- 문제: 성별과 나이가 확인된 유저들을 대상으로 키와 몸무게의 정보를 결합하시오.

In [23]:
# 키를 ID로 잡고, left join
pd.merge(df1, df2, how = 'left', on='ID')

   ID 성별  나이      키   몸무게
0   1  F  20    NaN   NaN
1   2  M  30    NaN   NaN
2   3  F  40  160.5  45.1
3   4  M  25  170.3  50.3
4   5  F  42  180.1  72.1

In [26]:
# right join
pd.merge(df1, df2, how = 'right', on= 'ID')

   ID   성별    나이      키   몸무게
0   3    F  40.0  160.5  45.1
1   4    M  25.0  170.3  50.3
2   5    F  42.0  180.1  72.1
3   6  NaN   NaN  142.3  38.0
4   7  NaN   NaN  153.7  42.0

- 문제: 키와 몸무게가 확인 된 유저들을 대상으로 성별과 나이의 정보를 결합하시오.

In [24]:
pd.merge(df2,df1, how = 'left', on = 'ID')

   ID      키   몸무게   성별    나이
0   3  160.5  45.1    F  40.0
1   4  170.3  50.3    M  25.0
2   5  180.1  72.1    F  42.0
3   6  142.3  38.0  NaN   NaN
4   7  153.7  42.0  NaN   NaN

- 문제: 키, 몸무게, 성별, 나이 정보가 모두 확인 된 유저들의 정보를 출력하시오.

In [29]:
# inner join
pd.merge(df1, df2, how = 'inner', on='ID')

   ID 성별  나이      키   몸무게
0   3  F  40  160.5  45.1
1   4  M  25  170.3  50.3
2   5  F  42  180.1  72.1

- 모든 유저들의 정보를 출력하시오.

In [31]:
# outer join
pd.merge(df1,df2, how='outer', on='ID')

   ID   성별    나이      키   몸무게
0   1    F  20.0    NaN   NaN
1   2    M  30.0    NaN   NaN
2   3    F  40.0  160.5  45.1
3   4    M  25.0  170.3  50.3
4   5    F  42.0  180.1  72.1
5   6  NaN   NaN  142.3  38.0
6   7  NaN   NaN  153.7  42.0

- (컬럼 ID명이 다른)모든 유저들의 정보를 출력하시오.

In [32]:
df1 = pd.DataFrame({'USER_ID':[1,2,3,4,5], '성별':['F','M','F','M','F'], '나이':[20,30,40,25,42]})
df2 = pd.DataFrame({'ID':[3,4,5,6,7], '키':[160.5, 170.3, 180.1, 142.3, 153.7], '몸무게':[45.1, 50.3, 72.1, 38, 42]})

In [33]:
# left_on 왼쪽에 있는 키를 USER_ID로 지정, 오른쪽 키를 ID로 지정
# User ID, ID 각 따로 출력
pd.merge(df1, df2, how = 'outer', left_on='USER_ID', right_on = 'ID')

   USER_ID   성별    나이   ID      키   몸무게
0      1.0    F  20.0  NaN    NaN   NaN
1      2.0    M  30.0  NaN    NaN   NaN
2      3.0    F  40.0  3.0  160.5  45.1
3      4.0    M  25.0  4.0  170.3  50.3
4      5.0    F  42.0  5.0  180.1  72.1
5      NaN  NaN   NaN  6.0  142.3  38.0
6      NaN  NaN   NaN  7.0  153.7  42.0

- 문제: df1은 회원의 정보를 저장한 데이터 프레임이며, df2는 각 회원의 구매내역을 저장한 데이터 프레임이다. 각 회원의 정보와 구매내역을 취합하여 하나의 데이터 프레임으로 만드시오.

In [35]:
df1 = pd.DataFrame({'ID':[1,2,3,4,5], '가입일':['2021-01-02', '2021-01-04', '2021-01-10', '2021-02-10', '2021-02-24'], '성별':['F','M','F','M','M']})
df2 = pd.DataFrame({'구매순서':[1,2,3,4,5], 'ID':[1,1,2,4,1], '구매월':[1,1,2,2,3], '금액':[1000,1500,2000,3000,4000]})

In [36]:
df1

   ID         가입일 성별
0   1  2021-01-02  F
1   2  2021-01-04  M
2   3  2021-01-10  F
3   4  2021-02-10  M
4   5  2021-02-24  M

In [37]:
df2

   구매순서  ID  구매월    금액
0     1   1    1  1000
1     2   1    1  1500
2     3   2    2  2000
3     4   4    2  3000
4     5   1    3  4000

In [38]:
pd.merge(df1,df2, how = 'left', on='ID')

   ID         가입일 성별  구매순서  구매월      금액
0   1  2021-01-02  F   1.0  1.0  1000.0
1   1  2021-01-02  F   2.0  1.0  1500.0
2   1  2021-01-02  F   5.0  3.0  4000.0
3   2  2021-01-04  M   3.0  2.0  2000.0
4   3  2021-01-10  F   NaN  NaN     NaN
5   4  2021-02-10  M   4.0  2.0  3000.0
6   5  2021-02-24  M   NaN  NaN     NaN